* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(245, 245, 245);
}

/* .apps-main {
    display: flex;
    justify-content: center;
    background-color: yellowgreen;
} */

/* helpers */

.container {
    width: 90vw;
    /* background-color: yellow; */
    border-inline-start: solid 1px violet;
    border-inline-end: solid 1px violet;
}

.side-container {
    width: 15vw;
    max-width: 300px;
    min-width: 200px;
}