* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Topography */

@font-face {
    font-family: 'Roboto-regular';
    src: url("../fonts/roboto/roboto-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-bold';
    src: url("../fonts/roboto/roboto-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-light';
    src: url("../fonts/roboto/roboto-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lac';
    src: url("../fonts/lacquer/lacquer-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
}

body {
    background-color: rgb(245, 245, 245);
    font-size: 1rem;
    font-family: Roboto-regular, Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

input, select, button {
    outline: none;
}

button {
    background-color: transparent;
    border: none;
}