.email-app {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.compose-btn {
    background-color: #FFA500;
    border: none;
    border-radius: 20px;
    font-size: 1.625rem;
    padding: 5px 10px;
    margin: 15px 5px;
    cursor: pointer;
    transition: color .3s;
}

.compose-btn .fa-plus {
    font-size: 1.3rem;
}

.compose-btn:hover {
    background-color: rgb(255, 180, 0);
}

.side-menu {
    display: flex;
    flex-direction: column;
}