.email-details {
    padding: 15px;
}

.email-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.contact-img {
    height: 80px;
}

 .from {
    display: block;
    margin-top: 10px;
}

.email-subject {
    margin-top: 30px;
}