.email-app {
    margin: 0 auto;
    position: relative;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.compose-btn {
    background-color: #ffa500;
    color: #202020;
    border: none;
    border-radius: 50px;
    font-size: 1.625rem;
    padding: 10px;
    margin: 15px 5px;
    cursor: pointer;
    transition: color .3s;
    align-self: center;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.mobile-compose {
    background-color: transparent;
    border: 0;
    font-size: 30px;
    color: #202020;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffa500;
    height: 58px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: none;
}

.plus-icon {
    margin: 0 5px;
}

.compose-btn .fa-plus {
    font-size: 1.3rem;
}

.compose-btn:hover {
    background-color: rgb(255, 180, 0);
}

.side-menu {
    display: flex;
    flex-direction: column;
}

.hamburger {
    background-color: transparent;
    border: 0;
    font-size: 30px;
    color: #202020;
    margin: 20px 0 20px 10px;
    cursor: pointer;
    display: none;
}

@media (max-width: 750px) {
    .compose-btn {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .main-content {
        flex-direction: column;
    }
    .mobile-compose {
        display: flex;
    }
}