.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b262c;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 100px;
}
