.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    height: 100px;
    padding: 0 22px;
}

.logo-img {
    height: 59px;
    width: 70px;
}

.menu-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all .2s;
    z-index: 1;
}

img.menu-icon {
    height: 40px;
    cursor: pointer;

}

.menu-icon-container:hover{
    background-color: rgba(82, 82, 82, 0.516);
}

@media (max-width: 850px) {
    .main-header {
        height: unset;
        padding: 10px;
    }
}