.main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    right: 0;
    top: 85px;
    background-color: #87959c;
    z-index: 1;
}

.nav-link {
    display: block;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 100%;
}

.nav-link:hover {
    background-color: #2c3941;

}