.search-bar {
    position: absolute;
    top: -70px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar input {
    color: #7a7a7a;
    font-size: 16px;
    border: none;
    width: 420px;
    height: 40px;
    padding: 1px 1px 1px 35px;
    background-image: url(../../img/icons/search-icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center left;
    background-position-x: 10px;
    position: relative;
    letter-spacing: 0.04375rem;
    margin: 0;
}

.search-select {
    height: 40px;
    margin: 0;
    border: none;
    font-size: 16px;
    padding-left: 5px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .search-bar {
        position: static;
        transform: none;
        align-items: center;
        min-height: 70px;
        background-color: #1b262c;
        margin-top: -4px;
    }
    .search-bar input {
        max-width: 350px;
        margin-left: 30px;
    }
    .search-select {
        margin-right: 30px;
    }
}