.email-preview {
    display: grid;
    grid-template-columns: 1fr 2fr 8fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
    align-items: center;
    padding: 0 10px 0 3px;
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
    cursor: pointer;
}

.email-previews:first-child {
    border-top: 3px solid #e3e8ea;
}

.email-preview-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.email-preview-body {
    display: inline;
    font-family: Roboto-light;
    color: grey;
}

.email-sent-at {
    font-size: 15px;
    align-self: start;
    margin-top: 12px;
    justify-self: center;
}

.email-preview-from {
    text-transform: capitalize;
    margin-left: 20px;
}

.email-preview .star-btn {
    cursor: pointer;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    transition: .3s ease-in-out;
    height: 50px;
    width: 50px;
    z-index: 1;
}

.email-preview .starred {
    color: #f8cb4d;
}

.email-preview .star-btn:hover {
    color: rgba(0, 0, 0, 1);
}

.email-unread {
    background-color: unset;
    font-weight: bold;
}

.email-read {
    font-weight: normal;
    background: rgba(32, 32, 32, 0.07);
}

@media (max-width: 950px) {
    .email-preview {
        min-height: 85px;
        position: relative;
    }
}

@media (max-width: 900px) {
    .email-preview {
        grid-template-columns: 1fr 2fr 8fr 2fr;
    }
}

@media (max-width: 750px) {
    .email-preview-from {
        border-radius: 50%;
        color: white;
        background: black;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .email-preview .star-btn {
        position: absolute;
        right: 23px;
        bottom: 3px;
    }
    .email-preview {
        grid-template-columns:  2fr 8fr 2fr;
    }
    .email-preview-content {
        overflow: unset;
        text-overflow: unset;
        white-space: unset;
    }
}

@media (max-width: 450px) {
    .email-preview-content {
        max-width: 70%;
        margin-left: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .email-preview-from {
        grid-template-columns:  2fr 4fr 2fr;
    }
}