.email-preview {
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
    align-items: center;
    padding: 0 15px;
    border-bottom: 2px solid #e3e8ea;
    cursor: pointer;
}

.email-previews:first-child {
    border-top: 3px solid #e3e8ea;
}

.email-preview-body {
    display: inline;
    font-family: Roboto-light;
    color: grey;
}

.email-sent-at {
    font-size: 13px;
    align-self: start;
    margin-top: 12px;
    justify-self: center;
}

.email-preview-from {
    text-transform: capitalize;
}

.email-unread {
    background-color: rgb(250, 250, 250);
    font-weight: bold;
}

.email-read {
    font-weight: normal;
    background-color: rgb(210, 210, 210);
}

@media (max-width: 950px) {
    .email-preview {
        min-height: 85px;
    }
}

@media (max-width: 900px) {
    .email-preview {
        grid-template-columns: 2fr 8fr 2fr;
    }
}

@media (max-width: 750px) {
    .email-preview-from {
        border-radius: 50%;
        color: white;
        background: black;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .email-preview-from {
        margin-right: 30px;
    }
}