.email-compose {
    background-color: rgb(250, 250, 250);
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 60vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
    z-index: 1;
}

.compose-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.compose-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa500;
    height: 40px;
    color: #202020;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 700;
}

.compose-header span {
    font-size: 1rem;
    padding: 8px 0 8px 0;
    margin-inline-start: 10px;
}

.form-txt {
    border: none;
    padding: 0 10px 0 10px;
    border-bottom: solid 1px grey;
}

.form-txt[type="text"] {
    font-size: 1rem;
    height: 2rem;
}

.email-compose textarea {
    font-size: 1.25rem;
    resize: none;
    padding-top: 20px;
    outline: none;
    border-bottom: 0;
    font-family: Roboto-regular;
}

.email-compose .close-btn {
    margin-right: 8px;
    font-size: 18px;
    color: #202020;
    cursor: pointer;
}

.form-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-btn, .delete-btn {
    border-radius: 50%;
    font-size: 1.6rem;
    cursor: pointer;
    height: 55px;
    width: 55px;
    margin: 10px;
}

.send-btn:hover, .delete-btn:hover {
    background-color: rgba(60, 64, 67, 0.08);
    color: #ffa500;
}

@media (max-width: 850px) {
    .email-compose {
        width: 80vw;
    }
}

@media (max-width: 750px) {
    .email-compose {
        width: 100%;
        right: 0;
        bottom: 0;
        height: 100%;
    }
    .form-btns {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .compose-header {
        height: 80px;
        border-radius: 0;
    }
    .email-compose .close-btn {

        font-size: 24px;
        height: 60px;
        width: 60px;
   
    }
}