.email-extended-preview {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.email-extended-subject-row {
    margin-top: 10px;
}

.email-extended-from {
    margin-top: 10px;
}

.email-extended-body {
    margin-top: 10px;
    /* margin-bottom: 10px; */
}