.about-team-page {
    margin-top: 2em;
}

.team-container-main {
    display: flex;
    justify-content: center;
}

.team-member-card {
    font-family: Roboto-regular;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 400px;
}

.card-txt-links {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.member-card-first {
    display: flex;
    background-color: rgb(201, 213, 235);
    border-radius: 1px;
}

.team-memeber-img {
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}

.team-member-name {
    font-size: 1.5em;
}

.team-member-links {
    font-size: 2em;
}

.team-member-links>* {
cursor: pointer;
user-select: none;
text-decoration: none;
}

.team-member-par {
    font-size: 1.1em;
    overflow-wrap: break-word;
    background-color: rgb(223, 229, 240);
    border-radius: 1px;
    margin-bottom: 20px;
    padding: .5em;
}

@media (max-width: 850px) {
    .team-container-main {
        flex-direction: column;
    }
}