.about-team-page {
    margin-top: 2em;
}

.team-container-main {
    display: flex;
    justify-content: center;
}

.team-member-card {
    font-family: Roboto-regular;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 400px;
}

.card-txt-links {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.member-card-first {
    display: flex;
    background-color: rgb(201, 213, 235);
    border-radius: 1px;
}

.team-memeber-img {
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}

.team-member-name {
    font-size: 1.5em;
}

.team-member-links {
    font-size: 2em;
}

.team-member-links>* {
cursor: pointer;
user-select: none;
text-decoration: none;
}

.team-member-par {
    font-size: 1.1em;
    overflow-wrap: break-word;
    background-color: rgb(223, 229, 240);
    border-radius: 1px;
    margin-bottom: 20px;
    padding: .5em;
}

@media (max-width: 850px) {
    .team-container-main {
        flex-direction: column;
    }
}

/* .about-team-page {
    margin-top: 50px;
}

.team-member-card {
    display: grid;
    grid-template-rows: 200px 400px;
    grid-template-rows: 100px 100px 1fr;
    gap: 10px;
}

.team-memeber-img {
    height: 200px;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.team-member-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 2em;
}

.team-member-links {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}



/* 
.about-team-page {
    padding-top: 80px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-member-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.team-memeber-img {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member-name {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.team-member-par {
    text-align: center;
    margin-bottom: 20px;
}

.team-member-links {
    font-size: 30px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.member-fb-link {
    text-decoration: none;
    color: black;
}

.member-ld-link {
    text-decoration: none;
    color: black;
}

.member-gh-link {
    text-decoration: none;
    color: black;
} */