.note-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
}

.note-type-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}


.note-preview img {
    max-width: 100%;
}

.note-text {
    background-color: rgb(97, 255, 97);
    /* font-size: 30px */
}

.note-todos {
    background-color: rgb(94, 209, 255);
    width: 100%;
    /* font-size: 30px */
}

/* .note-img {
    font-size: 30px;
} */

.note-img img {
    /* width: 100%; */
    object-fit: cover;
    background-color: magenta;
}

/* .info-txt {
    font-size: 18px;
}

.todo-txt {
    font-size: 16px;
} */