.note-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.note-menu-btn {
    margin-top: .5em;
    padding: 10px 10px;
    /* font-size: 18px; */
    font-size: 1.25em;
    width: 2em;
    height: 2em;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-menu-btn:hover {
    background-color: orange;
}

.note-colors-palette:hover {
    border: solid 1px rgb(29, 29, 29);
    transform: scale(1.1);
}

.note-color-btn-container {
    position: relative;
}

.note-color-btn-container:hover>*:last-child {
    display: flex;
}