.note-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.note-menu-btn {
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .3s;
}

.note-menu-btn:hover {
    background-color: orange;
}