.note-list {
    margin: 0 auto 2em;
    column-gap: .25em;
    column-count: 4;
    vertical-align: baseline;
    width: 95vw;
    padding-left: 1em;
}

.note-create-container {
    margin: 0 auto;
}

.note-preview {
    break-inside: avoid;
    margin: 0 1rem 1rem 0;
    vertical-align: baseline;
}

@media (max-width: 1080px) {
    .note-list {
        column-count: 3;
    }
}

@media (max-width: 850px) {
    .note-list {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    .note-list {
        column-count: 1;
    }
}