.note-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
}

.note-text {
    background-color: rgb(97, 255, 97);
    font-size: 30px
}

.note-todos {
    background-color: rgb(94, 209, 255);
    font-size: 30px
}

.note-img {
    font-size: 30px;
}

.note-img img {
    width: 100%;
    object-fit: cover;
    background-color: magenta;
}

.info-txt {
    font-size: 18px;
}

.todo-txt {
    font-size: 16px;
}