.note-list {
    margin: 0 auto 2em;
	column-gap: 1em;
    column-count: 4;
    vertical-align: baseline;
}

.note-preview {
    break-inside: avoid;
    margin: 0 1rem 1rem 0;
    vertical-align: baseline;
}